@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  /* primary */
  --Green200: hsl(148, 38%, 91%);
  --Green600: hsl(169, 82%, 27%);
  --Green700: hsl(170, 82%, 15%);
  --Red: hsl(0, 66%, 54%);
  /* Natural */
  --White: hsl(0, 0%, 100%);
  --Grey500: hsl(186, 15%, 59%);
  --Grey900: hsl(187, 24%, 22%);
}

body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 5%;
  background: var(--Green200);
}

form {
  display: grid;
  gap: 1rem;
  padding: 3%;

  background: var(--White);
  border-radius: 1rem;
}
h3 {
  font-weight: 700;
  font-size: 3rem;
}
label {
  font-size: 16px;
}

input,
textarea,
.query-type {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Grey500);
  margin: 0.5rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--Green600);
}
span {
  color: var(--Green600);
}
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Grey500);
  background: var(--Green600);
  color: var(--White);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
button:hover {
  background: var(--Green700);
}
.flex-div {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}
.input {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
}

@media (min-width: 997px) {
  form {
    width: 50%;
  }

  .flex-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
